<launch>
    <arg name="package_name" value="prototype" />
    <arg name="hostname" default="129.69.102.242" />
    <arg name="map_file" default="$(eval find(arg('package_name'))  + '/param/FinalGridMapv2cleaned.yaml')"/>
    
    <!-- A working robot without risk estimation -->
   <include file="$(find prototype)/launch/autonomousOperation.launch">
        <arg name="hostname" value="$(arg hostname)" />
        <arg name="map_file" value="$(arg map_file)" />
        <arg name="package_name" value="prototype" />
        <arg name="ip" value="129.69.102.217" />
   </include>

   <!-- Risk estimation parts -->
   <node pkg="$(arg package_name)" name="risk_estimator" type="risk_estimator_node.py" output="screen"/>
</launch>