<?xml version="1.0"?>
<model>
  <name>Robotino 3</name>
  <version>2.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Johannes Sigel</name>
    <email>js2311@outlook.de</email>
  </author>

  <description>
    The common Festo Robotino 3 including tower.
    Author of the original Robotino 3 model: Randolph Maaßen, randolph.maassen@alumni.fh-aachen.de
    To the Robotino 3 model in this project (robotino_simulation) were added:
      two sensors:
        intel_realsense_r200 (from Gazebo)
        hokuyo (from Gazebo)
      two plugins:
        control (own plugin)
        p3d_base_controller (from Gazebo)
  </description>
</model>
